/cylindercircle/build/
/cylindercircle/nbproject/private/
/03-Futbola-Herentzia/build/
/04-Monstruoak/Monstruoak/nbproject/private/
/04-Monstruoak/Monstruoak/build/
/3EBAL/HiztegiaSQLite/build/
/3EBAL/HiztegiaSQLiteMVC/nbproject/private/
/3EBAL/HiztegiaSQLiteMVC/build/
